.swiper.benefitSwipper {
  overflow: unset !important;

  .swiper-button-prev,
  .swiper-button-next {
    background-color: #fff;
    box-shadow: 0px 4px 16px 0px #5c5c5c29;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    top: unset;

    &::after {
      font-size: 1.6rem;
      font-weight: 600;
      color: #282828;
    }

    @apply hidden md:flex;
  }
  .swiper-button-next {
    @apply right-[-2%] top-[35%] hidden md:flex;
  }
  .swiper-button-prev {
    @apply left-[-2%] top-[35%] hidden md:flex;
  }
  .swiper-pagination {
    @apply bottom-[20px] left-1/2 max-w-max -translate-x-1/2 rounded-full bg-white/20 px-[32px] py-[10px] text-[1.6rem] font-bold text-white;
  }
}
